.login-button-wrapper,
.signup-button-wrapper {
  padding: 0;
}

.login-btn {
  padding: 8px 15px;
  background-color: #ff4757;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.login-button-wrapper .login-btn {
  margin-left: 20px;
}

.login-btn:hover {
  background-color: #e84118;
}

.signup-button-wrapper .login-btn {
  margin-left: 5px;
}
