.searchbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  position: relative;
  z-index: 1000;
}

.searchbar-form {
  display: flex;
  gap: 10px;
  width: 50%;
}

.search-input {
  flex: 1;
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #999;
  font-size: 16px;
}

.search-btn {
  padding: 12px 20px;
  border: none;
  background-color: #ff4757;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.search-btn:hover {
  background-color: #e84118;
}
