.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid #e6e6e6;
  /* position: fixed; */
  font-size: 14px;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  z-index: 1;
}

.navbar > h1 {
  font-size: 30px;
  color: #ff0000;
}

.navbar_links {
  display: flex;
  align-items: center;
}

.navbar_links > a {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  padding: 0 15px;
}
